@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elastacloud PowerBI</h1>
    <p class="lead">Elastacloud are a UK based Cloud Data Consultancy. We do Cortana Analytics and PowerBI.</p>
    <p><a href="http://www.elastacloud.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a sample that shows how to integrate BISharp into a web application. Check out the 
            PowerBI link above. Take a peak at the PowerBIController.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Generate data</h2>
        <p>There's a 'resourceManagement' sample in this solution that lets you modify datasets and create data. 
        Alternatively you can extend this web app.</p>
     </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>This project is available at http://github.com/elastacloud/! Please contribute and make this better.</p>
        <p><a class="btn btn-default" href="http://github.com/elastacloud/ ">Learn more &raquo;</a></p>
    </div>
</div>